{% extends "django_conference/register_base.html" %}
{% load display_form %}
{% load money_format %}
{% load show_notice %}
{% block javascript %}
<script type="text/javascript" src="{{media_root}}/js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
Stripe.setPublishableKey("{{stripe_key}}");
$(function() {
  var stripeResponseHandler = function(status, response) {
    var $form = $('#regForm');

    if (response.error) {
      // Show the errors on the form
      $form.find('.payment-errors').show().find('.error-text').text(response.error.message);
      $form.find('input[type=submit]').removeAttr('disabled');
    } else {
      // token contains id, last4, and card type
      var token = response.id;
      // Insert the token into the form so it gets submitted to the server
      $form.append($('<input type="hidden" name="stripeToken" />').val(token));
      // and submit
      $form.get(0).submit();
    }
  };
  $('#regForm').submit(function(event) {
    event.preventDefault();
    var $form = $(this);

    // Disable the submit button to prevent repeated clicks
    $form.find('input[type=submit]').attr('disabled', 'disabled');

    Stripe.createToken({
      number: $form.find('input[name=number]').val(),
      cvc: $form.find('input[name=cvc]').val(),
      exp_month: $form.find('select[name=expiration_0]').val(),
      exp_year: $form.find('select[name=expiration_1]').val(),
      name: $form.find('input[name=holder]').val()
    }, stripeResponseHandler);

    // Prevent the form from submitting with the default action
    return false;
  });
});
</script>
{% endblock %}
{% block main %}
<form method="post" id="regForm"
      action="{% url django_conference_payment reg_id=regCont.registration.id%}">
<div class="section">
  <div class="heading">
    <h3>Register for the {{meeting.start_date.year}} Meeting</h3>
  </div>
  <div class="content">
    {% if notice %}
      {% show_notice notice %}
    {% endif %}
    <table id="orderSummary" cellspacing="0" cellpadding="0">
      <tr>
        <th class="heading">Item</th>
        <th class="heading">Quantity</th>
        <th class="heading">Subtotal</th>
      </tr>
      <tr>
        <td>{{regCont.registration.type}} Registration</td>
        <td align="center">1</td>
        <td align="right">{{regCont.registration.get_meeting_cost|money_format}}</td>
      </tr>
      {% for extra in regCont.extras %}
      <tr>
        <td>{{extra}}</td>
        <td align="center">{{extra.quantity}}</td>
        <td align="right">{{extra.get_total|money_format}}</td>
      </tr>
      {% endfor %}
      {% for donation in regCont.donations %}
      <tr>
        <td>{{donation}}</td>
        <td colspan="2" align="right">{{donation.total|money_format}}</td>
      </tr>
      {% endfor %}
      <tr>
        <td><b>Total</b></td>
        <td colspan="2" align="right">
          {{regCont.get_total|money_format}}
        </td>
      </tr>
    </table>
    <br/>
    <div class="section" id="paymentInfo">
      <div class="heading">
        Payment Information
      </div>
      <div class="content">
        <div class="notice payment-errors">
          <img alt="Error" src="/registration_media/img/error.gif">
	  <span class="error-text"></span>
        </div>
        <p>
          Please enter your credit card information. We accept, Visa, MasterCard,
          and American Express.
          {% display_form payment_form %}
        </p>
      </div>
    </div>
    <div class="clearer"></div>
    <br/>
    <input type="submit" name="payMeeting" value="Submit"/>
  </div>
</div>
</form>
{% endblock %}
