{% extends "django_conference/register_base.html" %}
{% load display_form %}
{% block javascript %}
<script type="text/javascript" src="{{media_root}}/js/jquery-1.3.2.min.js"></script>
<script type="text/javascript">
$(function() {
   $(".session_list > ol, .session_details ul.papers").hide();
   $(".session_list > h3").toggle(function() {
      $("img", this).attr("src", "{{media_root}}/img/collapse.gif");
      $(this).next("ol").slideDown("normal")
   }, function () {
      $("img", this).attr("src", "{{media_root}}/img/expand.gif");
      $(this).next("ol").slideUp("normal")
   });
   $(".session_details > strong").toggle(function() {
      $("img", this).attr("src", "{{media_root}}/img/collapse.gif");
      $(this).next("ul").slideDown("fast")
   }, function () {
      $("img", this).attr("src", "{{media_root}}/img/expand.gif");
      $(this).next("ul").slideUp("normal")
   });
});
</script>
{% endblock %}
{% block main %}
<form method="post" action="{% url django_conference_register %}" id="regForm">{% csrf_token %}
<div class="section">
  <div class="heading">
    <h3>Register for the {{meeting.start_date.year}} Meeting</h3>
  </div>
  <div class="content">
    <p>
      Fields in bold are required. 
    </p>
    {% display_form register_form %}
    {% if extras_form.fields %}
    <hr align="left"/>
    <p>
      If you'd like to include any of the following extras in your order, please
      indicate the quantity.
    </p>
    <div class="extra_form">
       {% display_form extras_form %}
    </div>
    {% endif %}
    {% if donations_form.fields %}
    <hr align="left"/>
    <p>
      Please consider making a donation to assist with the following causes.
    </p>
    <div class="donation_form">
       {% display_form donations_form %}
    </div>
    {% endif %}
    <div class="choose_sessions">
        <hr align="left"/>
        <p>
          Please select which sessions you plan to attend, one from each time slot.
          This will help us assign session rooms.
          {% if meeting.preliminary_program %}
          See the <a target="_blank" href="{{meeting.preliminary_program}}">preliminary program</a>
          for session details.
          {% endif %}
        </p>
        <ol id="session_time_slots">
           {{session_form.as_ul}}
        </ol>
    </div>
    <p class="clearer">
      <input type="submit" name="registerMeeting" value="Submit"/>
    </p>
  </div>
</div>
</form>
{% endblock %}
