<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Accepted Session Details</title>
</head>
<body>
  <h1>Accepted Session Details for Meeting {{meeting}}</h1>
  <div>
  {% for session in meeting.sessions.all %}
  {% if session.accepted %}
  <b>Title:</b> {{session}}<br/><br/>
  <b>Time slot:</b> {{session.get_time_slot_string}} <br/><br/>
  {% if session.abstract %}
  <b>Abstract:</b> {{session.abstract|linebreaksbr}}<br/><br/>
  {% endif %}
  {% if session.room_no %}
  <b>Room #:</b> {{session.room_no}}<br/><br/>
  {% endif %}
  {% ifnotequal session.notes|cut:" "|length 0 %}
  <b>Notes:</b> {{session.notes}}<br/><br/>
  {% endifnotequal %}
  {% if session.chairs.all %}
  <b>Chair(s):</b><br/>
    <ul>
    {% for chair in session.chairs.all %}
      <li>{{chair}}</li>
    {% endfor %}
    </ul>
  <br/>
  {% endif %}
  {% if session.organizers.all %}
  <b>Organizer(s):</b><br/>
    <ul>
    {% for organizer in session.organizers.all %}
      <li>{{organizer}}</li>
    {% endfor %}
    </ul>
  <br/>
  {% endif %}
  {% if session.commentators.all %}
  <b>Commentator(s):</b><br/>
    <ul>
    {% for commentator in session.commentators.all %}
      <li>{{commentator}}</li>
    {% endfor %}
    </ul>
  <br/>
  {% endif %}
  <b>Papers:</b><br/>
  <ol>
  {% for paper in session.papers.all %}
    <li>
      <b>Title:</b> {{paper}}<br/>
      <b>Presenter:</b> {{paper.presenter}}, {{paper.presenter.institution}}<br/>
      <b>Abstract:</b> {{paper.abstract|linebreaksbr}}<br/>
      {% if paper.coauthor %}
      <b>Coauthor:</b> {{paper.coauthor}}<br/>
      {% endif %}
      <b>Is poster?:</b> {{paper.is_poster|yesno:"Yes,No"}}<br/>
      {% if paper.av_info %}
      <b>Audiovisual Requirements:</b> {{paper.get_av_info_display}}<br/>
      {% endif %}
      {% if paper.notes %}
      <b>Notes:</b> {{paper.notes}}<br/>
      {% endif %}
      <b>Accepted?:</b> {{paper.accepted|yesno:"Yes,No"}}<br/>
      {% if paper.previous_meetings.all %}
      <b>Previous Meetings:</b><br/>
      <ul>
        {% for prev_meeting in paper.previous_meetings.all %}
        <li>{{prev_meeting}}</li>
        {% endfor %}
      </ul>
      {% endif %}
      <br/>
    </li>
  {% endfor %}
  </ol>
  {% endif %}
  <hr/>
  {% endfor %}
  </div>
</body>
</html>
