/* form styles */
#regForm .form-row label {
  width: 130px;
}

.form-row .label_container {
  width: 110px;
  float: left;
}

#content p.help_text {
  font-style: italic;
  margin: 0;
  padding: 0;
  margin-left: 130px;
}

#orderSummary {
  border: 1px #D3D3D3 solid;
}

#orderSummary th {
  text-align: center;
  color: white;
  font-family: sans-serif;
  padding: 5px;
}

#orderSummary td {
   padding: 5px 10px;
   border-bottom: 1px #D3D3D3 solid;
}

#paymentInfo {
  padding: 0;
}

.payment-errors {
  display: none;
 }

.donation_form input[type="text"], .extra_form input[type="text"] {
  width: 5em;
}

#content ol#session_time_slots ol li {
  margin-left: 20px;
}

#content ol#session_time_slots li {
  list-style-type: none;
  margin: 0;
}

#content ol#session_time_slots li ul li {
  list-style-type: disc;
}

ol#session_time_slots li h4 {
  margin: 0;
  border: 0;
}

ol#session_time_slots li h3 {
  cursor: pointer;
  border-bottom: 1px dotted #999933;
  margin: 5px 0;
  padding-left: 10px;
}

ol#session_time_slots li img {
  display: inline;
}

ol#session_time_slots li h4 input {
  float: left;
  width: 10px;
}

ol#session_time_slots li h4 span {
  float: right;
  width: 460px;
  margin-top: -2px;
}

ol#session_time_slots li .session_details {
  padding-top: 5px;
  padding-left: 15px;
  clear: both;
}

.session_details strong {
  cursor: pointer;
}

#content ol#session_time_slots li .session_details ul {
  margin-top: 0;
  margin-bottom: 0;
} 

.container_prior_sundays {
  padding: 10px 0;
}


.container_prior_sundays label {
  float: none;
}


.container_prior_sundays select {
  display: block;
}

/* admin styles */
table.stats {
  display: inline;
  padding: 3px;
}
